* {
	box-sizing: border-box;
}

body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;    		
	margin: 0;								
	font: 0.75em/1.5 Arial, sans-serif; 
	background-color: #ffffff;	    		
}		

.scroll {
	overflow-y: auto;
}
.scroll::-webkit-scrollbar-track {
	border-radius: 4px;
}
.scroll::-webkit-scrollbar {
	width: 6px;
}
.scroll::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.15);
}
.scroll:hover::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.4);
}



.row {
	position: relative;
	height: 640px;
	width: 100%;
	margin: auto;
}



.contacts {
	height: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 0;
	padding-right: 0;
	border-right: 1px solid rgba(0, 0, 0, 0.10);
}

.contacts__item {
	padding-left: 10px;
	padding: 5px 15px;
	height: 60px;				
	border: none;
	cursor: pointer;
}

.contacts__item_active {
	background-color: #eeeeee;
	transition: background-color 0.7s ease-in-out;
}

.contacts-item__avatar {
	display: inline-block;
	width: 50px;
	height: 50px;	
}

.avatar__pic {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	vertical-align: bottom;
}

.contacts-item__text {
	display: inline-block;
	height: 100%;
	max-width: 200px;
	padding-top: 5px;
	padding-left: 10px;
	vertical-align: top;			   		   		
}

.contact-item-text__name {
	font: 15px robotoregular; 
	color: rgba(0, 0, 0, 0.8);
}

.contact-item-text__message {
	font: 13px robotoregular;    		   		
	color: rgba(0, 0, 0, 0.4);
}



.right-section {
	height: 100%;
	padding: 0;
}



.top-section {
	height: 50px;
	padding-top: 5px;
	padding-right: 20px;
	text-align: center;			
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

.top-section__text {
	display: inline-block;	
}

.top-section-text__name {
	font: 14px robotoregular;
	color: rgba(0, 0, 0, 0.8);
}

.top-section-text__status {
	font: 11px robotoregular;
	color: rgba(0, 0, 0, 0.4);
}

.top-section__control-element {	
	display: inline-block;
	float: right;
	margin-top: 10px;
	width: 16px;
	height: 16px;		
	background-image: url(../img/icons.png);
	background-position: -16px -48px;
	cursor: pointer;
	opacity: 0.8;
}

.top-section__control-element:hover {
	opacity: 1;
	transition: opacity 0.25s ease-in-out;
}



.middle-section {
	height: 589px;
	padding: 0;
}



.chat-section {
	height: 100%;
	padding: 0;
	border-right: 1px solid rgba(0, 0, 0, 0.10); 
}



.chat-history {
	height: 508px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 40px;
}

.chat-history__message {
	margin-top: 20px;
}

.chat-history__message_right {
	text-align: right;
}

.ch-message__avatar {
	display: inline-block;
	margin-right: 5px;
	width: 30px;
	height: 30px;	
	vertical-align: bottom;
}

.ch-message__content {
	display: inline-block;
	padding-bottom: 10px;
}

.ch-msg-cnt__text {
	padding: 10px;
	display: inline-block;
	max-width: 300px;
	font: 14px robotoregular;
	color: rgba(0, 0, 0, 0.8);
	text-align: left;
	word-break: break-all;
	vertical-align: bottom;
}

.chat-history__message_left .ch-msg-cnt__text {
	border-radius: 20px 20px 20px 0;
	background-color: rgba(0, 0, 0, 0.20);
}

.chat-history__message_right .ch-msg-cnt__text {
	border-radius: 20px 20px 0 20px;
	background-color: rgba(0, 0, 0, 0.10);
}

.ch-msg-cnt__attachment {
	display: block;
	width: 220px;
	height: auto;
	margin: 2px auto;
}

.ch-msg-cnt-attachment__picture {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	cursor: pointer;
}

.files__item_chat {
	border-radius: 5px;
	padding: 5px;
}



.send-message-section {
	padding-top: 10px;
	height: 50px;
	border-top: 1px solid rgba(0, 0, 0, 0.10);
}

.msg-box-attachments__item {
	display: inline-block;
	width: auto;
	height: 24px;
	border-radius: 15px;
	margin: 3px 3px 3px 0;	
	background-color: #cccccc;
	padding: 4px 10px;
}

.msg-box-attachments-item__text {
	display: inline-block;
	font: 11px robotoregular; 
	color: rgba(0, 0, 0, 0.4);
	vertical-align: top;
	white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
}

.msg-box-attachments-item__delete-icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../img/icons.png);
	background-position: -16px 0;
	cursor: pointer;
}

.message-box__clip-button {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;		
	margin-right: 15px;
	vertical-align: middle;
}

.upload-button {
  cursor: pointer;
  width: 24px;
	height: 24px;	
  background-image: url(../img/icons.png);
	background-position: 0px -160px;
	opacity: 0.8;
}

.upload-button:hover {
	opacity: 1;
	transition: opacity 0.25s ease-in-out;
}

#uploadbtn {
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	width: 24px;
	height: 24px;	
	opacity: 0; 
	z-index: -1;
}	

.message-box__photo-button {
	display: inline-block;
	vertical-align: top;
	vertical-align: middle;
	width: 24px;
	height: 24px;	
	margin-right: 15px;
	cursor: pointer;
	background-image: url(../img/icons.png);
	background-position: 0px -184px;
	opacity: 0.8;
}

.message-box__photo-button:hover {
	opacity: 1;
	transition: opacity 0.25s ease-in-out;
}


.message-box__input {
	vertical-align: top;
	vertical-align: middle;
	margin-right: 5px;
	width: 530px;
	height: 32px;
	border: none;
	font: 14px robotoregular; 
	color: rgba(0, 0, 0, 0.8);
	border-radius: 10px;
}

.message-box__input:focus {
	outline: none;
}

.message-box__send-message-button {
	position: relative;
	display: inline-block;
	width: 24px;
	height: 24px;		
	vertical-align: top;
	vertical-align: middle;
}

.submit-button {
  display: inline-block;	    
  cursor: pointer;
  width: 24px;
	height: 24px;	
  background-image: url(../img/icons.png);
	background-position: 0px -208px;
	opacity: 0.6;
}

.submit-button:hover {	
	transition: opacity 0.25s ease-in-out;
}



#submitbtn {
	position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: inline;
	width: 24px;
	height: 24px;	
	opacity: 0; 
	z-index: -1;
}	


.user-info-section {
	display: none;
	padding: 30px;
	text-align: center;
}

.user-info-section__avatar {
	display: inline-block;
	width: 180px;
	height: 180px;
}

.user-info-section__name {
	padding-top: 20px;
	font: 14px robotoregular;
	color: rgba(0, 0, 0, 0.8);
}

.user-info-section__status {
	padding-top: 10px;
	font: 11px robotoregular;
	color: rgba(0, 0, 0, 0.8);
}


.side-panel {
	display: block;
	height: 100%;
	padding: 0;
}



.side-panel__shared {
	padding: 0;
}



.shared__head {
	padding: 10px 15px;
}

.shared-head__text {
	display: inline-block;
	color: rgba(0, 0, 0, 0.4);
	font: 14px robotoregular;
	vertical-align: bottom;
}

.shared-head__control-element {
	display: inline-block;
	float: right;
	width: 16px;
	height: 16px;		
	background-image: url(../img/icons.png);
	background-position: 0 0;
	vertical-align: bottom;
	cursor: pointer;
}

.side-panel__shared_files {
	height: auto;			
}



.shared__content {
	height: auto;	
	padding-bottom: 15px;		
}

.shared__content_hide {
	display: none;
}



.files__item {
	text-align: left;
	cursor: pointer;
	word-wrap:break-word;
}

.files__item_shared {
	padding: 5px 15px;
}

.files__item:hover {
	background-color: #cccccc;
	transition: background-color 0.7s ease-in-out;
}

.files-item__icon {
	display: inline-block;
	width: 16px;
	height: 16px;		
	background-image: url(../img/icons.png);
	background-position: 0 -232px;
	vertical-align: bottom;
}

.files-item__title {
	color: rgba(0, 0, 0, 0.8); 
	font: 13px robotoregular;
	vertical-align: bottom;
	padding-left: 5px;			
}

.files-item__title:hover {
	color: rgba(0, 0, 0, 0.8); 
	text-decoration: none;
}



.side-panel__shared_audio {
	height: auto;
	border-top: 1px solid rgba(0, 0, 0, 0.10);
}



.audio__item {
	text-align: left;
	word-wrap:break-word;
}

.audio__item_shared {
	padding: 5px 15px;
}

.audio-item__playstate {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url(../img/icons.png);
	background-position: 0 -32px;
	vertical-align: middle;
	float: left;
	margin-right: 5px;
	cursor: pointer;
	opacity: 0.8;
}

.audio-item__playstate:hover {
	opacity: 1;
	transition: opacity 0.25s ease-in-out;
}

.audio-item__playstate_play {
	background-image: url(../img/icons.png);
	background-position: -16px -32px;
}

.audio-item__title {
	color: rgba(0, 0, 0, 0.8);	
	font: 13px robotoregular;
	vertical-align: middle;
}

.audio-item__title:hover {
	color: rgba(0, 0, 0, 0.8); 
	text-decoration: none;
}



.side-panel__shared_photos {
	height: auto;
	border-top: 1px solid rgba(0, 0, 0, 0.10);
}

.shared__content_photos {
	padding-top: 15px;
	margin: 0 auto;
	width: 240px;
	font-size: 0px;
}

.photos__item_shared {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 78px;
	height: 78px;			
	margin-right: 2px;
	margin-bottom: 2px;
	cursor: pointer;
	overflow: hidden;
}

.photos-item__pic {
	height: 100%;
}

.photos-item__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;            
  z-index: 5;
  display: none;
  background: rgba(255, 255, 255, 0.15);             
}

.photos__item_shared:hover .photos-item__overlay {
  display: block;
}



.audioplayer {
	position: absolute;
	top: 10px;
	right: 80px;
}



.options-menu {
	position: absolute;
	top: 40px;
	right: 10px;
	width: 150px;
	height: auto;
	padding: 5px 0;
	background-clip: padding-box;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
	opacity: 0;
	visibility: hidden;
}

.options-menu__item {
	display: block;
	padding: 5px 15px;
	color: rgba(0, 0, 0, 0.8); 
	font: 14px robotoregular;
}

.options-menu__item:hover {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.4); 
	cursor: pointer;
}

.options-menu_show {
	opacity: 1;
	transition: opacity 0.7s ease-in-out;
	visibility: visible;
}



.photo-box {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	width: 400px;
	height: 303px;
	left:50%; 
	margin-left: -200px;
	padding: auto 0;
	background-clip: padding-box;
	background-color: #111111;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
	visibility: hidden;

	padding: 5px;
}

.photo-box_show {
	visibility: visible;
}

.photo-box__app {
	width: 100%;
	position: relative;
	margin-top: -34px;
	text-align: center;
}

.photo-box-app__video {
	display: none;
}

.photo-box-app__controls {
	display: none;
}

.photo-box-app__image {
	display: block;
}

.photo-box-app__cancelBtn {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(../img/icons.png);
	background-position: 0 -248px;
	vertical-align: top;
	margin-right: 5px;
	cursor: pointer;
	opacity: 0.8;
	margin-top: -40px;
}

.photo-box-app__okBtn {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(../img/icons.png);
	background-position: 0 -280px;
	vertical-align: top;
	cursor: pointer;
	opacity: 0.8;
	margin-top: -40px;
}

.photo-box__closeBtn {
	display: block;
	width: 24px;
	height: 24px;
	background-image: url(../img/icons.png);
	background-position: 0 -312px;
	vertical-align: top;
	cursor: pointer;
	opacity: 0.8;
	margin-top: 10px;
	margin-left: 355px; 
	position: relative;
	z-index: 5;
}


.photo-box__app video {
  width: 100%;
}

.photo-box-app__controls {
	position: relative;
  margin-top: -80px;
}

.photo-box-app__controls button {
  border-radius: 50%;
  color: #fff;
  background-color: #111;
  text-decoration: none;
  padding: 15px;
  line-height: 0;
  opacity: 0.7;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.photo-box__app canvas {
  display: none;
}


